html5
html
	head
		title= pageTitle
		block js
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
			script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
		block css
			link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='../public/css/layout.css')
	body
		.container
			block navigation
				h1.h1-header tDonor
					img(src= "../public/images/twitter-32.png") 
					small #TweetForBlood
				if(user)
					h5.pull-right.hello-msg Hello
						a(href="http://twitter.com/#{user.name}") #{user.name}
			block content